/*768 para tablets y esta dentro de los 800px q vamos a trabajar*/
/* prtada*/
@media screen and (max-width: 800px) {
  .titulo {
    font-size: 45px;
    margin-top: 0;
  }
  .title-a {
    font-size: 18px;
  }
  .portada {
    height: auto;
  }
  .portada .button{
    margin-bottom: 30px;
    display: inline-block;
  }
  /* fin portada */

  /* cafes*/
  .cafes {
    text-align: center;
    margin: 0;
  }
  /* fin cafes */

}