/*768 para tablets y esta dentro de los 800px q vamos a trabajar*/
/* prtada*/
@media screen and (max-width: 800px) {
  .titulo {
    font-size: 45px;
    margin-top: 0;
  }
  .title-a {
    font-size: 18px;
  }

  .portada {
    height: auto;
  }
  .portada .button {
    margin-bottom: 30px;
    display: inline-block;
  }
  /* fin portada */

  /* cafes*/
  .cafes {
    text-align: center;
    margin: 0;
  }
  .right, .left {
    float: none;
    position: static;
  }
  .contedor-cafe-a {
    position: static;
    padding: 0;
  }

  .contenedor-cafe-b{
    margin: 0;
    position:static;
  }

  .cafe.granoscafe {
    height: auto;
  }

  .cafe li {
    list-style: none;
  }
  .title-b {
    margin-top: 0;
  }
  /* fin cafes */
}
/* FIN TABLET */

/* CUALQUIER DIMENSION Q SEA MENOR A 767 VAMOS A CAMBIAR EL FOOTER*/

@media screen and (max-width: 767px) {
  /* footer */
  textarea {
    width: 100%;
  }

  .footer .contenedor {
    display: block;
  }
  .footer img {
    width:250px;
  }
  .contacto {
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }
  .formulario{
    display: block;
    width: 300px;
    margin: 0 auto;
  }
  .generos label {
    font-size: 16px;
  }
  .intereses label {
    display: block;
    font-size: 16px;
  }
  .formulario .button{
    width: 100%;
    box-shadow: 0 0 10px 0 rgba(0,0,0, 0.24);
  }

  .col1 {
    margin: 0;
  }

  /*selectores de atributos*/
  input [type="text"],
  input[type="email"] {
    font-size: 16px;
    padding: 5px;
  }

  input[type="radio"],
  input[type="checkbox"]{
    position: relative;
    top: 3px;
    zoom: 1.5;
  }


}
