.burger-button {
  width: 40px;
  border-radius: 50%;
  line-height: 35px;
  height: 40px;
  text-align: center;
  background: #dd944c;
  display: inline-block;
  position: fixed;
  left: 20px;
  top: 20px;
  z-index: 3;
  display: none;
}


/*768 para tablets y esta dentro de los 800px q vamos a trabajar*/
/* prtada*/
@media screen and (max-width: 800px) {

  .titulo {
    font-size: 45px;
    margin-top: 0;
  }
  .title-a {
    font-size: 18px;
  }

  .portada {
    height: auto;
  }
  .portada .button {
    margin-bottom: 30px;
    display: inline-block;
  }
  /* fin portada */

  /* cafes*/
  .cafes {
    text-align: center;
    margin: 0;
  }
  .right, .left {
    float: none;
    position: static;
  }
  .contedor-cafe-a {
    position: static;
    padding: 0;
  }

  .contenedor-cafe-b{
    margin: 0;
    position:static;
  }

  .cafe.granoscafe {
    height: auto;
  }

  .cafe li {
    list-style: none;
  }
  .title-b {
    margin-top: 0;
  }
  /* fin cafes */
}
/* FIN TABLET */

/* CUALQUIER DIMENSION Q SEA MENOR A 767 VAMOS A CAMBIAR EL FOOTER*/

@media screen and (max-width: 767px) {
  /* footer */
  textarea {
    width: 100%;
  }

  .footer .contenedor {
    display: block;
  }
  .footer img {
    width:250px;
  }
  .contacto {
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }
  .formulario{
    display: block;
    width: 300px;
    margin: 0 auto;
  }
  .generos label {
    font-size: 16px;
  }
  .intereses label {
    display: block;
    font-size: 16px;
  }
  .formulario .button{
    width: 100%;
    box-shadow: 0 0 10px 0 rgba(0,0,0, 0.24);
  }

  .col1 {
    margin: 0;
  }

  /*selectores de atributos*/
  input [type="text"],
  input[type="email"] {
    font-size: 16px;
    padding: 5px;
  }

  input[type="radio"],
  input[type="checkbox"]{
    position: relative;
    top: 3px;
    zoom: 1.5;
  }
  /*fin del footer*/
}

@media screen and (max-width: 650px) {
  .header{
    text-align: center;
  }
  .logotipo{
    margin: 0;
  }

  .menu{
    position: static;
    display: block;
  }
  .menu li:first-child {
    margin: 0;
  }

  .menu ul{
    padding: 0;
  }
}

/* CELULARES */
@media screen and (max-width: 500px) {
  .portada .button{
    display: block;
  }
  .burger-button {
    display: block;
  }
  .portada .contenedor{
    position: static;
  }

  /*Pagina de precios*/
  .header{
    position: static;
  }
  .header .contenedor{
    position: static;
  }
  .titulo-precios {
    font-size: 32px;
  }
  .titulo-precios img{
    width: 60px;
  }

  /*FIN Pagina de precios*/

  .menu{
    /* border: 1px solid tomato; */
    position: fixed;
    top: 0;
    right: 0;
    left: -100%;
    bottom: 0;
    z-index: 2;
    background-color: rgba(156, 83, 12, 0.7);
    width: 100%;
    display: flex;
    align-items: center;
    transition: .3s;
  }
  .active{
    left: 0;
  }

  .menu li{
    display: block;
    margin: 0;
    padding: 8px 0;
    border-bottom: 1px solid white;
  }
  .menu ul{
    flex: 1;
  }

  .menu li:first-child {
    border-top: 1px solid white;
  }
  .portada{
    text-align: center;
  }
  .titulo{
    font-size: 34px;
  }
  .title-a{
    font-size: 15px;
  }

  /* cafes */
  .cafe img{
    width: 200px;
  }
  .title-b{
    font-size: 30px;
  }

}
/* fin celulares */